* {
  margin:0;
  padding:0;
}
body {
  font-family:'Open Sans', sans-serif;
}
.upper-fixed-section {
  background-color: #d7d7d7;
  height: 60px;
}
.top-section-left, .top-section-right {
  float: left;
  padding: 10px 0px 10px 90px;
}
.email-id, .email-icon {
  float: left;
  padding-top: 10px;
}
.top-social {
  float: left;
  font-size: 30px;
  padding-left: 30px;
}
.email-id span {
  font-size:16px;
  padding-left: 10px;
}
.get-quotes {
  padding-left: 200px;
  padding-top: 5px;
}
.get-quotes button {
  border:1px solid white;
  padding: 6px 10px;
  color:#535353;;
  border-radius: 5px;
}
.top-social a, .email-id a {
  color:#414141;
}
.top-social i:hover {
  color:white;
}
.get-quotes button:hover {
  background-color:#535353;
  color:white;
}
/*.
header {
  height: 50px;
  background-color: red;
}
.header-logo {
  float: left;
  font-size: 10px;
}
nav ul {
  float: right;
}
nav ul li {
  list-style-type: none; 
  display: inline-block;
  padding:0px 10px;
}
nav ul li a {
  text-decoration: none;
  color :black;
}
*/